android/keystore.properties
android/.gradle
android/local.properties
android/.idea/workspace.xml
android/.idea/libraries
android/.DS_Store
android/build
android/app/src/main/res/values/com_crashlytics_export_strings.xml
android/app/src/main/assets/crashlytics-build.properties
android/facebook/build/
android/.idea/
android/app/crashlytics.properties
android/app/build/
